* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.red {
  color: #d43f42 !important;
}

.red-focus:focus {
  border: 1px solid #d43f42 !important;
}

/**********************************************
*** TOP PART
**********************************************/

.top {
  height: 60vh;
  display: flex;
  background-image: url(../back.gif);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.budget {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e3e3e3;
  flex: 1 0 auto;

  &__flex-container {
    display: flex;
  }

  &__title {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
  }

  &__value {
    font-size: 6em;
    text-align: center;
    margin: 2vh 0;
    letter-spacing: 2px;
  }

  &__income,
  &__expenses {
    width: 90vw;
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 3em;
  }

  &__income {
    margin-bottom: 1.5vh;
    background-color: #3fd4d1;
  }

  &__expenses {
    background-color: #d43f42;
  }

  &__income--text,
  &__expenses--text {
    font-size: .85em;
    color: #353535;
  }

  &__income--value,
  &__expenses--value {
    letter-spacing: 1px;
  }

  &__income--percentage,
  &__expenses--percentage {
    width: 3em;
    font-size: 0.60em;
    padding: 3px 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
  padding: 2em;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f7f7f7;

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__type {
    width: 2em;
    height: 2.5em;
    margin-right: 0.3em;
    padding: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    font-size: 3em;
    background-color: #fff;
    color: inherit;
    font-weight: 300;
    transition: border 0.3s;
  }

  &__description,
  &__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 2em;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 5px;
    transition: border 0.3s;
  }

  &__description {
    width: 50vw;
  }

  &__value {
    width: 5em;
  }

  &__btn {
    font-size: 7em;
    background: none;
    border: none;
    color: #3fd4d1;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
  }

  &__btn:active {
    transform: translateY(2px);
  }

  &__type:focus,
  &__description:focus,
  &__value:focus {
    outline: none;
    border: 1px solid #3fd4d1;
  }

  &__btn:focus {
    outline: none;
  }
}

/***** LISTS *****/
.container {
  width: 95vw;
  margin: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.income,
.expenses {
  width: 100%;
  padding-right: 5vw;
  margin-bottom: 2em;

}

.icome__title,
.expenses__title{
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 1em;
}

.icome__title {
  color: #3fd4d1;
}

.expenses__title {
  color: #d43f42;
}

.item {
  display: flex;
  padding: 13px;
  border-bottom: 1px solid #e2e2e2;
  justify-content: space-between;

  &:first-child {
    border-top: 1px solid #e2e2e2;
  }

  &:nth-child(even) {
    background-color: #f7f7f7;
  }

  &__description,
  &__value {
    font-size: 2em;
  }

  &__value {
    transition: transform 0.3s;
  }

  &__percentage {
    margin-left: 0.8em;
    transition: transform 0.3s;
    font-size: 1.3em;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
  }

  &__delete--btn:focus {
    outline: none;
  }

  &__delete--btn:active {
    transform: translateY(2px);
  }

  &:hover .item__delete--btn {
    display: block;
  }

  &:hover .item__value {
    transform: translateX(-20px);
  }

  &:hover .item__percentage {
    transform: translateX(-20px);
  }

}

.income .item__value,
.income .item__delete--btn {
  color: #3fd4d1;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: #d43f42;
}

.unpaid {
  background-color: #FFDAD9 !important;
  cursor: pointer;
  color: #d43f42;

  & .item__percentage {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover .item__description {
    font-weight: 900;
  }
}
