* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.red { color: #d43f42 !important; }
.red-focus:focus { border: 1px solid #d43f42 !important; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 40vh;
    display: flex;
    background-image: url(back.gif);
}

.budget {
  max-width: 350px;
  flex: 1 0 auto;
}

.budget__title {
    font-size: 18px;
}

.budget__value {
    font-size: 46px;
    margin: 2vh 0;
}

.budget__income,
.budget__expenses {
    padding: 12px;
}

.budget__income {
    margin-bottom: 1.5vh;
}

.budget__income--text,
.budget__expenses--text {
    font-size: 15px;
}

.budget__income--percentage,
.budget__expenses--percentage {
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget__expenses--percentage {
    border-radius: 3px;
}


/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 14px;
}

.add__container {
    margin: 0 auto;
}

.add__type {
    width: 55px;
    height: 44px;
    margin-right: 10px;
    padding: 5px;
    font-size: 18px;
}

.add__description,
.add__value {
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
    font-size: 35px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
  width: 100%;
  margin: 10vh 0;
}

.income {
    width: 475px;
    margin-right: 50px;
}

.expenses {
    width: 475px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.item {
  padding: 13px;
}

.item__percentage {
    margin-left: 20px;
    font-size: 11px;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
}
